h1 a{
    color: red; font-size: larger;
}
.linkinsidelist{
    color: darkgreen;font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p a{
    color: aqua; font-family: 'Sofia';
}
body{
    background-color: darksalmon;
}
a:hover{
    color: dodgerblue;
}